
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=League+Gothic&family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap');


html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


.navigation {
    display: flex;
    justify-content: space-between;
    padding: 2rem 12rem 2rem 12rem;
}

.navigation img {
    object-fit: none;
}

.nav-links a, .nav-links button {
    font-size: 1.3rem;
    margin-left: 4rem;
    letter-spacing: 1px;
    
}

.nav-links a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    letter-spacing: 1px;
}

.nav-links button {
    background-color: hsl(0, 94%, 66%);
    border: none;
    cursor: pointer;
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 500;
    transition: 0.5s ease;
    
}

.nav-links button:hover {
    padding: 1rem 3rem;
}

.main-sct {
    display: flex;
    gap: 4rem;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 12rem;

}

.text-container h1 {
    font-size: 5rem;
    opacity: 0.9;
    font-weight: 500;
    width: 120%;
}

.text-container p {
    font-size: 1.4rem;
    line-height: 2rem;
    opacity: 0.7;
    width: 90%;
}

.main-btns {
    display: flex;
    gap: 3rem;
}

.main-btns button{
    border: none;
    padding: 1rem 3rem;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: 0.5s ease;

}

.chrome-btn {
    background-color: hsl(231, 69%, 60%);
    color: white;
}

.chrome-btn:hover {
    background-color: transparent;
    border: 1px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
}

.frfx-btn {
    background-color: rgb(219, 219, 219);
    box-shadow: 0 3px 5px -2px gray;
;
}

.frfx-btn:hover {
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    
}

.img-container img {
    min-width: 70%;
    margin-top: 5rem;
    
}

.features-container {
    
    padding: 4rem 12rem 4rem 12rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.features-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.features-titles h3 {
    font-size: 3rem;
    font-weight: 550;
}

.features-titles p {
    font-size: 1.6rem;
    text-align: center;
    width: 45%;
    opacity: 0.6;
    line-height: 2.1rem;

}

.types-titles {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.types-text {
    display: flex;
    gap: 8rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.types-text h3 {
    font-weight: 450;
    opacity: 0.8;
    cursor: pointer;
}


.line {
    width: 60%;
    height: 1px;
    background-color: rgb(179, 179, 179);
}



.features-card {
    display: flex;
    gap: 12rem; 
}



.text-features-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

.text-features-container h2 {
    font-size: 3.5rem;
    font-weight: 450;
}

.text-features-container p {
    width: 80%;
    font-size: 1.6rem;
    line-height: 2.2rem;
    opacity: 0.6;
}

.text-features-container button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: hsl(231, 69%, 60%);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s ease;
    
}

.text-features-container button:hover {
    background-color: transparent;
    border: 1px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
}


.extensions {
    padding: 4rem 12rem 4rem 12rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;

}


.extensions-text {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.extensions-text h2 {
    font-size: 3rem;
    font-weight: 550;

}

.extensions-text p {
    font-size: 1.5rem;
    width: 50%;
    line-height: 2.2rem;
    opacity: 0.7;

}

.extensions-cards {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    box-shadow:  0 1px 20px -10px  gray;
    border-radius: 1rem;
    padding: 4rem 0 4rem 0;
    
}

.card:nth-child(2){
    transform: translateY(10%);
}

.card:nth-child(3){
    transform: translateY(20%);
}


.col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    
}

.col-1 h2 {
    font-size: 2rem;
    opacity: 0.9;
}

.col-1 p {
    opacity: 0.6;
    font-size: 1.5rem;

}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.col-2 button {
    border: none;
    padding: 1rem 2rem;
    background-color:hsl(231, 69%, 60%) ;
    color: white;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: 0.6s ease;
}

.col-2 button:hover {
    border: 1px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
    background-color: transparent;
}


.faq {
    padding: 8rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    align-items: center;

    
    
}

.faq-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;

}

.faq-text h2 {
    font-size: 2.8rem;
    font-weight: 550;
}

.faq-text p {
    font-size: 1.6rem;
    width: 60%;
    line-height: 2rem;
    opacity: 0.7;

    
    
}

.faq-container:nth-child(1){
    padding-top: 2.5rem;
    border-top: 1px solid rgb(187, 187, 187);
}

.faq-container {
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(187, 187, 187);
    
}

.faq-questions {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;


    
}

.question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    
}

.question h2 {
    font-size: 1.8rem;
    font-weight: 400;
}


.question img {
    height: 100%;
    cursor: pointer;
    transition: transform 1s ease;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p {
    font-size: 1.5rem;

    opacity: 0.7;
    line-height: 1.6;
}

.faq-btn button {
    background-color: hsl(231, 69%, 60%);
    border: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    cursor: pointer;
}

.faq-container.active .answer {
    max-height: 300px;
}

.faq-container.active img {
    transform: rotate(180deg);
}


.email-val {
    background-color: hsl(231, 69%, 60%);
    margin-top: 6rem;
    padding: 6rem;

}

.val-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    text-align: center;
    color: white;
}

.val-container h3 {
    font-size: 1.1rem;
    letter-spacing: 4px;
    font-weight: 400;
}

.val-container h1 {
    font-size: 3rem;
    width: 35%;
    font-weight: 400;
}

#form {
    display: flex;
    align-items: center;
    gap: 4rem;
}

#email-input {
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.8rem;


}

.contact-btn {
    background-color: hsl(0, 94%, 66%);
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    
}


#text {
    display: block;
    text-align: left;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;


}

.footer {
    background-color: hsl(229, 31%, 21%);

}


.footer-container {
    padding: 2rem 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 8rem;
}

.footer-links img {
    height: 100%;
}

.footer-links ul {
    display: flex;
    gap: 4rem;
    align-items: center;
    list-style-type: none;
    color: white;
    font-size: 1.3rem;
    letter-spacing: 3px;
    opacity: 0.8;
    cursor: pointer;
}

.footer-icons {
    display: flex;
    gap: 3rem;
    cursor: pointer;
}

.footer-container h2 {
    font-size: 1.3rem;
}

.footer-container span {
    color: rgb(73, 23, 255);
    font-weight: 600;
    letter-spacing: 1px;

}


@media (max-width:1300px){
    .text-container h1 {
        width: 180%;
    }
    .main-btns {
        width: 180%;
    }

    .footer-container {
        gap: 4rem;
        
    }



}







